/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
/* @-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
} */ 
/* Main styles */

a {
  color: #e9ecef;
  text-decoration: none;
  background-color: #92969a;
}

textarea.form-control {
  height: auto;
}

.form-control {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 0px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

h1, h2, h3,h4,h5,h6{
  font-family: 'Open Sans', sans-serif;
}

#questionsContainer{
  background: #1e3c72; /* fallback for old browsers */
  background: transparent;
}
.nav-item:focus,
.nav-item:hover {
  color: #495057;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}


body {

  margin-top: 2rem;
  /* background: rgb(9,9,121); */
/* background: linear-gradient(90deg, rgba(9,9,121,0.8323704481792717) 0%, rgba(136,136,196,1) 100%, rgba(2,0,36,1) 100%); */
background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1e3c72, #2a5298); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1e3c72, #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  /* img size is 50x50 */
  /* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0; */
  -webkit-animation: bg-scrolling-reverse 3s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 3s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 3s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 3s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

h3 {
  font-size: calc(100% + 1vw + 1vh);
}

#joinus{
  padding:15px;
  padding-top: 20px;
}

#joinus a{
  padding: 10px 15px;
}

#joinus a:hover{
  text-decoration: none;
  color: white;
}

#joinus-text{
  margin: 10px;
  margin-bottom: 20px;
  font-size: calc(50% + 0.3vw + 0.3vh);

}

.feedback-inputs{
  border: 1px solid grey;
}

.btn-remote{
  margin-left: 2rem;
}

.form-group{
  padding-top:10px;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
 
/* Portrait */
 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
 .btn-remote{
   margin-left: 1rem;
 }
}
 
/* Landscape */
 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
 
}
 
/* ----------- Google Pixel ----------- */
 
/* Portrait */
 
@media screen
 
and (device-width: 360px)
 
and (device-height: 640px)
 
and (-webkit-device-pixel-ratio: 3)
 
and (orientation: portrait) {
 
}
 
/* Landscape */
 
@media screen
 
and (device-width: 360px)
 
and (device-height: 640px)
 
and (-webkit-device-pixel-ratio: 3)
 
and (orientation: landscape) {
 
}